:root {
    font-size: 16px;
}

body, * {
    background-color: #F3EDE5;
    margin: 0;
    padding: 0;
}

.carousel-active {
    overflow-x: hidden;
}

.carousel-wrapper {
    height: 100vh;
    display: flex;
    position: relative;
}

.carousel {
    position: relative;
    width: 100%;
    height: 60vh;
    align-self: center;
    padding-left: 2.188rem; 
}

.carousel__slide {
    text-align: center;
    font-size: 1.125rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button-next {
    right: 7.813rem; 
}

.carousel__button-prev {
    left: 1.875rem;
}

.carousel__toggle-btn {
    margin: 1.25rem;
    padding: 0.625rem 1.25rem; 
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.carousel__button-next,
.carousel__button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.875rem; 
    height: 1.875rem; 
    border-radius: 50%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.carousel__button-next img,
.carousel__button-prev img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

@media (max-width: 375px) { 
    .carousel {
        height: 50vh;    
    }

    .carousel__slide {
        font-size: 0.875rem;
    }

    .carousel__button-next,
    .carousel__button-prev {
        right: 2.5rem;
    }
}

@media (min-width: 1440px) { 
    .carousel__slide {
        font-size: 1.5rem; 
    }
}
