@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

:root {
    font-size: 16px;
}

body {
    font-family: 'Fira Sans';
    margin: 0;
    padding: 0;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.8s;
    background-color: #E3CFCF;
}

.main-section--visible {
    opacity: 1;
}

.main-section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.main-section__item-container {
    padding: 0 8.2rem;
}

.main-section__item-text {
    margin: 0 auto;
}

.main-section__item-image {
    max-width: 100%;
    height: auto;
}

.main-section__item-description1,
.main-section__item-description2 {
    font-weight: 300;
    font-size: 1rem;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.main-section__item-description1 {
    display: block;
    max-height: unset;
    opacity: 1;
}

.main-section__item-description2 {
    margin-bottom: 0;
}

.main-section__item-heading {
    font-size: 1.7rem;
    font-weight: 275;
    text-transform: uppercase;
}

.main-section__item-description2--visible {
    max-height: 12.5rem; 
    opacity: 1;
    margin-bottom: 1rem;
}

.main-section__item-btn-toggle {
    font-weight: 500;
    font-size:.75rem;
    font-family: 'Fira Sans';
    background: transparent;
    margin-top: 0.625rem; 
    padding: 0.9rem 2.5rem; 
    cursor: pointer;
    border: 1px solid;
    opacity: 1;
    transition: opacity 0.3s ease-out, display 0s 0.3s;
}

.main-section__item-btn-toggle--hidden {
    opacity: 0;
}

@media (min-width: 1440.1px) {
    .main-section__item-container {
        padding: 0 15rem; 
    }

    .main-section__item-heading {
        font-size: 2rem;
    }

    .main-section__item-description1,
    .main-section__item-description2 {
        font-size: 1.25rem;
    }

    .main-section__item-btn-toggle {
        font-size: .85rem;
        padding: 1.2rem 3rem;
    }
}

@media (max-width: 1024px) {
    .main-section__item-container {
        padding: 4.375rem 3rem;
    }

    .main-section__item-heading {
        font-size: 1.5rem;
    }

    .main-section__item-description1,
    .main-section__item-description2 {
        font-size: 1rem;
    }

    .main-section__item-btn-toggle {
        font-size: .7rem;
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        align-items: center;
    }

    .main-section__item {
        width: 100%;
    }

    .main-section__item-container {
        padding: 4.375rem 1.6rem;
    }

    .main-section__item-image {
        width: 100%;
    }

    .main-section__item-heading {
        font-size: 1.5rem;
    }

    .main-section__item-description1,
    .main-section__item-description2 {
        font-size: 1rem;
    }

    .main-section__item-btn-toggle {
        font-size: .7rem;
        padding: 1rem 1.5rem;
    }
}
